spring:
  redis:
    host: localhost
    port: 6379
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      format_sql: true
  datasource:
    url: jdbc:mysql://localhost:3306/redis_db
    username: redis_user
    password: 1234
    driver-class-name: com.mysql.jdbc.Driver